<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/home/{{i18n.language}}">SCS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <!--# block name="home_menu_stub" -->
        {{> menu active=true}}
      <!--# endblock -->
      <!--# include virtual="/home/{{i18n.language}}/partials/menu?scs={{scs}}" stub="home_menu_stub" -->
      <!--# block name="items_menu_stub" -->
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Items</a>
        </li>
      <!--# endblock -->
      <!--# include virtual="/items/{{i18n.language}}/partials/menu?scs={{scs}}" stub="items_menu_stub" -->
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{i18n "language" context=i18n.language}}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/{{scs}}/en">{{i18n "language_en"}}</a>
          <a class="dropdown-item" href="/{{scs}}/pl">{{i18n "language_pl"}}</a>
        </div>
      </li>
      <!--# block name="account_menu_stub" -->
        {{#unless isAuthenticated}}
        <li class="nav-item">
          <a class="nav-link disabled" href="#">{{i18n "login"}}</a>
        </li>
        {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><img src="{{credentials.picture}}" width="24" height="24" class="d-inline-block align-top rounded-circle" alt=""> {{credentials.name}}</a>
          <div class="dropdown-menu">
            <a class="dropdown-item disabled" href="#">{{i18n "account"}}</a>
            <a class="dropdown-item disabled" href="#">{{i18n "logout"}}</a>
          </div>
        </li>
        {{/unless}}
      <!--# endblock -->
      <!--# include virtual="/account/{{i18n.language}}/partials/menu?scs={{scs}}" stub="account_menu_stub" -->
    </ul>
  </div>
</nav>
